* {
  margin: 0;
  padding: 0;
  font-family: 'inter', sans-serif;
  box-sizing: border-box;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url(../images/layered-waves-haikei.svg);
  background-size: cover;
  z-index: 0;
}

/* App Container */
.main {
  background: #ffffff30;
  width: 95%;
  margin: 2% auto 0;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  height: 91%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
}

#header {
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  border-bottom: 4px solid #ED654A;
  padding-bottom: 30px;
  text-align: left;
}

.main, .inhoud {
  z-index: 2;
  position: relative;
  text-align: center;
}

.top-right-buttons {
  position: absolute;
  top: 8%;
  right: 5%;
}

/* Inhoud */
.inhoud {
  padding: 20px 0;
  color: #fff;
  margin-top: 10%;
  font-size: 30px;
}

.login {
  background-color: #e56a54 !important;
  border: none !important;
  font-weight: 600 !important;
}

.sign-up {
  background-color: #e5a854 !important;
  border: none !important;
  font-weight: 600 !important;
}

.login:hover {
  background-color: #cc5f4a !important;
  border: none !important;
  font-weight: 600 !important;
}

.sign-up:hover {
  background-color: #d2954a !important;
  border: none !important;
  font-weight: 600 !important;
}

.inhoud p {
  margin-top: 10px;
  width: 60%;
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #ED654A; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.inhoud a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}

.inhoud a:hover {
  color: #000;
}

.inhoud .contact {
  padding-top: 10px;
  padding-bottom: 5px;
}

#readmore {
  padding: 3px;
  font-size: 20px;
  border: none;
  color: #fff;
  border-radius: 5px;
  background-color: #004f59;
  transition: all 0.3s;
}

#readmore:hover {
  background-color: #fff;
  color: #004f59;
  cursor: pointer;
}

/* Animations */

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 60% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #e56a54; }
}

.box div {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid rgba(255, 255, 255, 0.8);
  z-index: 1;
  pointer-events: none;
}

.box div:nth-child(1) { top: 12%; left: 42%; animation: animate 10s linear infinite; }
.box div:nth-child(2) { top: 70%; left: 50%; animation: animate 7s linear infinite; }
.box div:nth-child(3) { top: 17%; left: 6%; animation: animate 9s linear infinite; }
.box div:nth-child(4) { top: 20%; left: 60%; animation: animate 10s linear infinite; }
.box div:nth-child(5) { top: 67%; left: 10%; animation: animate 6s linear infinite; }
.box div:nth-child(6) { top: 80%; left: 70%; animation: animate 12s linear infinite; }
.box div:nth-child(7) { top: 60%; left: 80%; animation: animate 15s linear infinite; }
.box div:nth-child(8) { top: 32%; left: 25%; animation: animate 16s linear infinite; }
.box div:nth-child(9) { top: 90%; left: 25%; animation: animate 9s linear infinite; }
.box div:nth-child(10) { top: 20%; left: 80%; animation: animate 5s linear infinite; }

@keyframes animate {
  0% { transform: scale(0) translateY(0) rotate(0); opacity: 1; }
  100% { transform: scale(1.3) translateY(-90px) rotate(360deg); opacity: 0; }
}

@media only screen and (max-width: 815px) {
  .main {
      width: 100%;
      margin: 50px auto 0;
      height: 85%;
  }

  .buttons {
      height: 20%;
  }
}

@media only screen and (max-height: 635px) {
  .main {
      height: 90%;
      margin-top: 3%;
  }

  .btn i {
      font-size: xx-large;
  }
}